* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* PUPUP */

.popupSection {
    visibility: hidden;
}

/* TWIT ICON */

.signUpIcon {
    width: 100%;
    height: 53px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
}

.signUpIcon .twitImg {
    height: 1.75rem;
    color: rgba(29,161,242,1.00);
}

/* SIGN UP */

.signUpForm {
    margin-right: 32px;
    margin-left: 32px;
    /* max-width: 536px;
    max-height: 650px; */
    flex-grow: 10;
}

.signUpHeader {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 23px;
    font-weight: 700;
} 

.form-group {
    max-height: 75px;
}

.nameGroup {
    margin: 0;
    padding: 12px 0;
    
}

/* General Label*/

.group label {
    width: 100%;
    margin: 0;
    border: rgb(207, 217, 222) solid 1px;
    border-radius: 4px;
}

.focusLabel {
    border: rgb(29, 161, 242) solid 1px;
}

.wrongLabel {
    border: rgb(224, 36, 94) solid 1px;
}

.positionHelp {
    position: relative;
} 

#name, #email, #phone{
    width: 100%;
    border: none;
    outline: none;
}

/* Name Label */
.nameLabel {
    position: absolute;
    font-size: 17px;
    color: rgb(83, 100, 113);
    top: 16px;
    left: 8px;
}

.nameInput {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.nameCounter {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 13px;
    color: #576471;
}

/* Email Label */
.emailL {
    display: none;
}

.emailLabel {
    position: absolute;
    font-family: "Segoe UI";
    color: rgb(83, 100, 113);
    top: 16px;
    left: 8px;
}

.emailInput {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

/* Phone Label */

.phoneLabel {
    position: absolute;
    font-family: "Segoe UI";
    color: rgb(83, 100, 113);
    top: 16px;
    left: 8px;
}

.phoneInput {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

/* Other */

.labelChange {
    margin-top: 16px;
    
}
.labelChange a {
    color: rgb(27, 149, 224);
}


/* Errors */

.nameError {
    visibility: hidden;
    margin-left: 8px;
    font-size: 13px;
    color: rgb(224, 36, 94);
}
.emailError {
    visibility: hidden;
    margin-left: 8px;
    font-size: 13px;
    color: rgb(224, 36, 94);
}

.phoneError {
    visibility: hidden;
    margin-left: 8px;
    font-size: 13px;
    color: rgb(224, 36, 94);
}

/* Birthday*/

.dateOfBirth {
    margin-top: 32px;
}

.dateOfBirth h2 {
    font-family: 'Roboto';
    font-size: 15px;
    margin: 0;
}

.descriptionBirth {
    color: rgb(83, 100, 113);
}

/* Birthday Form  General*/

.formBirthday {
    display: flex;
    margin: 16px 0;
    width: 100%;
}

.formBirthday select{
    width: 100%;
    appearance: none;
    overflow: visible;
    border: none;
    outline: none;
    outline-style: none;
}

.formBirthday label {
    width: 100%;
    border: rgb(207, 217, 222) solid 1px;
    border-radius: 4px;
}

.formSvg {
    position: absolute;
    color: rgb(83, 100, 113);
    top: 16px;
    right: 8px;
}

.formSvg svg {
    height: 1.5em;
}

/* Month Label */
.monthLabel {
    position: absolute;
    color: rgb(83, 100, 113);
    top: 16px;
    left: 8px;
}

.monthSelect {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.selectMonth {
    flex-grow: 2;
    /* max-width: 259.500px; */
    margin-right: 12px;
}


/* Day Label */

.dayLabel {
    position: absolute;
    color: rgb(83, 100, 113);
    top: 16px;
    left: 8px;
}

.daySelect {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.selectDay {
    flex-grow: 1;
    /* max-width: 88.750px; */
    margin-right: 12px;
}

/* Year Label */

.yearLabel {
    position: absolute;
    color: rgb(83, 100, 113);
    top: 16px;
    left: 8px;
}

.yearSelect {
    margin-top: 16px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
}

.selectYear {
    flex-grow: 1;
    /* max-width: 140.750px; */
}



/* Button Next */
.nextButton {
    width: 100%;
    padding: 12px 32px 36px 32px;
}

.nextSignUp {
    width: 100%;
    height: 38px;
    background-color: rgb(29, 161, 242);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 9999px;
    opacity: 0.5;
}









/* RESPONSIVE START*/

@media screen and (min-width: 703px) and (min-height: 500px) {

    .popup {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .popupBody {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .popupContent {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        max-height: 650px;
        background-color: #fff;
        border-radius: 16px;
    }
}


@media screen and (max-width: 702px) {

    .popup {
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .popupBody {
        min-height: 100%;
        display: flex;
        justify-content: center;
    }
}


@media screen and (max-height: 499px) {

        .popup {
        position: fixed;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .popupBody {
        min-height: 100%;
        display: flex;
        justify-content: center;
    }
}